@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }

.flexNav {
    display: flex;
    align-items: center;
}

.flexPage {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.flexContent {
    display: flex;
    margin-top: 2vh;
    align-items: center;;
}