.blog_cover_wrapper {
    background-size: cover;
    width: 100%;
    /* filter: brightness(60%); */
    height: 60vh;
}

.blog_cover {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    object-fit: cover;
}

.blog_name {
    font-size: 10vw;
    color: white;
    font-weight: 6px;
}

.blog_profile_wrapper {
    margin-left: 60vw;
}

.blog_body_wrapper {
    padding: 0vh 20vw;
}

.blog_three_wrapper {
    border: solid;
    border-width: 1px;
    border-color: #aaa;
}