.course_overview_wrapper {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color: #656565;
    border-width: 2px;
    margin-right: 1vw;
}

.course_overview_img {
    height: 100px;
}

.course_overview_description {
    border-top-style: solid;
    border-top-color: #656565;
    border-top-width: 1px;
    padding-left: 7%;
    padding-top: 5%;
}

.course_overview_name {
    font-weight: bold;
}

.course_overview_author {
    color: #555;
    font-size: 12px;
}