.insp_constant_wrapper {
    display: flex;
    flex-direction: column;
}

.insp_dropdown_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.insp_constant_header {
    text-align: left;
    margin-bottom: 2vh;
    font-weight: bold;
}

.insp_constant_input {
    box-sizing: border-box;
    height: 5vh;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 3vh;
    border-color: #555;
    font-size: 1.2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: #555;
    background-color: #ffffff00;
}