.inspector {
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 25vw;
    height: 80vh;
    margin-left: 3vw;
    text-align: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
}

.inspector_nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    text-align: center;
    justify-content: space-around;
    line-height: 7vh;
    font-size: 1.2vw;
}

.inspector_selector {
    cursor: pointer;
    border-bottom: #c6c6c6 solid;
    width: 100%;
}

.inspector_selector:hover{
    color: #555;
    font-weight: bold;
}

.inspector_selected {
    color: black;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: #5C7EF5;
}