.nav_bar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.dropdown-menu a{
    color: black !important;
}

.diagram_name {
    width: 50vw;

}
.nav_bar_list {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

li {
    display: block;
    float: left;
    text-align: center;
    padding: 3.5vh 2vw;
    font-size: 1.3vw;
    text-decoration: none;
}


.left_nav_bar {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;                                                        
    width: 45vw;
    height: 10vh;
    border-radius: 20px;
}

.img_logo {
    content:url("../public/logo.png");
    object-fit: contain;
    width: 10vw;
    max-width: 300px;
    max-height: 10vh;
    padding: 0px 3vw;
    height: 100%;
    width: 100%;
}

.modal_wrapper {
    padding: 4vh 4vw;
}
.save_diagram_header {
    padding: 2vh 0;
    font-weight: bold;
    font-size: larger;
}

.save_diagram_input {
    box-sizing: border-box;
    height: 5vh;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 3vh;
    margin-top: 2vh;
    border-color: #555;
    font-size: 1.5vw;
    padding: 3vh 0.5vw;
    color: #555;
    width: 80%;
    background-color: #ffffff00;

}

.save_diagram_button {
    background-color: #5C7EF5;
    border-style: none;
    border-radius: 10px;
    color: white;
    width: 7vw;
    height: 6.5vh;
    font-size: 1.25vw;
}

.all_diagram_wrapper {
    border: black solid 2px;
    border-radius: 10px;
    overflow: auto;
    height: 20vh;
    padding: 2vh 1vw;
    margin-bottom: 2vh;
}

.load_diagram_button {
    background-color: #5C7EF5;
    border-style: none;
    border-radius: 10px;
    color: white;
    width: 7vw;
    height: 6.5vh;
    font-size: 1.25vw;
}

.load_diagram_items {
    width: 100%;
    border: hidden;
    border-radius: 5px;
    background-color: white;
    padding: 2vh 1vw;
    text-align: left;
}

.is_public_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
}

.is_public_checkbox {
    margin-right: 1vw;
}

.is_public_text {
    font-weight: bold;
}

.description_input {
    width: 100%;
    height: 15vh;
    border-radius: 10px;
    border-style: solid;
    border-color: #555;
    font-size: 1vw;
    padding: 1vh 0.5vw;
    color: #555;
}

.description_header {
    margin-bottom: 1vh;
    font-weight: bold;
}

.description_wrapper {
    margin-bottom: 1.5vh;
}

.nav-item {
    z-index: 5;
}
.dropdown {
    z-index: 5;
}

