.triangle_icon {
    content: url("../public/ic_triangle.png");
    object-fit: contain;
    width: 0.7vw;
    height: 0.7vw;
    margin-left: 1vw;
}

.profile_icon {
    /* content:url("../public/ic_profile.png"); */
    object-fit: contain;
    width: 4vw;
    height: 4vw;
    margin-left: 4vw;
}
